.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar {
    background-color: #343a40;
}

.nav-link {
    color: #ffffff !important;
}

.nav-link.active {
    font-weight: bold;
    color: #ffc107 !important;
}

.body {
    background-color: #181818;
    padding-top: 56px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    
}

.form-group {
    margin-bottom: 1.5rem;
    color:#f8f9fa;
}

.form-control {
    margin-bottom: 1.5rem;
    padding: 10px;
    color:#f8f9fa;
}

.form-label {
    padding: 1.5rem;
   
}

.btn-primary {
    background-color: #ff7b00;
    border-color: #ff7b00;
}

.my-4 {
    color: #ffff
}

.submit {
    color: #fff
}

